.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

main {
    overflow:auto;
    background-color: gray;
    min-height: calc(100vh - 116px);
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

